# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Google Places API (New)
GOOGLE_PLACES_API_KEY=

# Anthropic
ANTHROPIC_API_KEY=

# Deploy de demos
GITHUB_TOKEN=
GITHUB_REPO_DEMOS=
NEXT_PUBLIC_DEMOS_DOMAIN=
